html
    head
        title My Site - 404 Error
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="Developer")
        meta(name="author", content="jenfu.developer")
        link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/public/my-blog.css")
        link(rel='stylesheet', href="/public/css/font-awesome.min.css")
        link(rel='stylesheet', href="/public/css/style.css")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
        script(src="/public/js/tether.min.js")
        script(src="/public/js/err404.js")

body
    div.container
        div.row
            div.col-md-5.m-x-auto.pull-xs-none.vamiddle(style='margin-top: 173px')
                div.clearfix
                    h1.pull-left.display-3.m-r-2 404
                    h4.p-t-1 Oops! You're lost.
                    p.text-muted The page you are looking for was not found.
